body {
	font: 12px Arial, Tahoma, Verdana, sans-serif;
}

/* DIV CONTENEDOR GENERAL */
#wrapper {
	width: auto;
	margin: 0px;
}

/* Header
-----------------------------------------------------------------------------*/
#header {
	background-image: url(../../../imagenes/aramonCabeceraFondo1.jpg);
	background-size: cover;
	height: auto;
	text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#header img {
	height: 50%;
	width: 50%;
	padding: 20px;
}

/* Middle
-----------------------------------------------------------------------------*/
#middle {
	width: 100%;	
	height: auto;
    background-color: white; 
    overflow: auto;
}

#content {
    /*Si no asociamos anchura al content intenta coger el 100% y se coloca en una línea diferente a la del #sideRight*/
	width: 100%;
	float: left;
    background-color: white;	
	display: flex;
    flex-direction: column;
    align-items: center; /* Para centrar las imágenes */
    text-align: center;
}

#content h1 {
	text-align: center;
	color: #333;
}
#content ul {
	list-style-type: none;
	padding: 0;
}
#content li {
	margin: 60px 0;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 8px;
	padding: 20px;
	display: flex;
	align-items: center;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#content img {
	width: 150px;
	height: auto;
	border-radius: 8px;
	margin-right: 20px;
}
#content p {
	margin: 0;
	color: #555;
}

#content a {
	color: black;
	font-weight: bold;
}
#content a:hover {
	color: lightblue;
	transition: color 0.2s ease;
}
/* Footer
-----------------------------------------------------------------------------*/
#footer {
	height: 100px;
	width: 100%;
	background-color: #282424 ;
	text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
	clear: left;
}
#footer ion-icon {
	margin-left: 15px;
	margin-right: 15px;
	color: white;
	height: 35px;
	width: 35px;
	transition: color 0.2s ease;
}
#footer ion-icon:hover {
	color: lightblue;
}
#footer ion-icon:active {
	color: white;
}
#footerContenido {
	color: white;
}
#footerContenido a {
	color: white;
	text-decoration: none;
}
#footerContenido a:hover {
	color: lightblue;
	transition: color 0.2s ease;
}
#footerContenido a:active {
	color: white;
}
#footerContenido ul {
	display: flex;
	list-style: none;
}
#footerContenido ul li {
	margin-right: 20px;
}